<% include layout/header %>

<div class="row total-wrapper">

	<% include jstemplates/team %>
	<% include jstemplates/games %>

	<div class="span12 index-wrapper page-role hide" id="front-page-content"><% include layout/frontpage %></div>
	<div class="span12 games-wrapper page-role hide" id="games-content" ><% include layout/games %></div>
    <div class="span12 teams-wrapper page-role hide" id="teams-content" ><% include layout/teams %></div>
    <div class="span12 contact-wrapper page-role hide" id="contact-content" ><% include layout/contact %></div>

    </div><!--..row-->
</div><!--..container

<% include layout/footer %>