.newgame {
	bottom: 0;
	margin-top: 50px;
}

.tools {

}

.extinguisher {
	height: 50px;
	width: 50px;
}

#extinguisher_count {
	margin-top: 10px;
	height: 25px;
}

.contactpage {
  background: #87C7E6;
  color: #333;
  min-height: 300px;
  height: auto;
  margin-top: 20px;
}

#maptable {
	margin-top: 15px;
}

.img-Volunteer {
	background:url("../images/Volunteer.png") no-repeat;
	border-style: none;
	width: 25px;
	height: 35px;
	background-size: 25px 35px;
}
.img-Military {
	background:url("../images/Military.png") no-repeat;
	border-style: none;
	width: 25px;
	height: 35px;
	background-size: 25px 35px;
}
.img-Medic {
	background:url("../images/Medic.png") no-repeat;
	border-style: none;
	width: 25px;
	height: 35px;
	background-size: 25px 35px;
}
.img-Firefighter {
	background:url("../images/Firefighter.png") no-repeat;
	border-style: none;
	width: 25px;
	height: 35px;
	background-size: 25px 35px;
}



.games-list {
	cursor: hand; 
  	cursor: pointer;
  	list-style-type: decimal;
  	list-style-type: none;
}

.games-list i {
	margin-right: 10px;
	margin-left: -30px;
}

.games-list a {
	color: black;
	padding: 20px;
	text-decoration: none;
}
.games-list a:hover {
	color: #3399cc;
}
.games-list li {
	padding: 5px;
}

.sectorname {
	width: auto;
	height: 30px;
	max-width: 120px;
}
.mapsector {
	padding: 5px;
}
.maprow {
	padding: 5px;
}