.newgame {
	bottom: 0;
	margin-top: 50px;
}

.contactpage {
  background: #87C7E6;
  color: #333;
  min-height: 300px;
  height: auto;
  margin-top: 20px;
}

#maptable {
	margin-top: 15px;
}

.games-list {
	cursor: hand; 
  	cursor: pointer;
  	list-style-type: decimal;
  	list-style-type: none;
}

.games-list i {
	margin-right: 10px;
	margin-left: -30px;
}

.games-list a {
	color: black;
	padding: 20px;
	text-decoration: none;
}
.games-list a:hover {
	color: #3399cc;
}
.games-list li {
	padding: 5px;
}

.sectorname {
	width: auto;
	height: 30px;
	max-width: 120px;
}
.mapsector {
	padding: 5px;
}
.maprow {
	padding: 5px;
}