#teams-list {
  margin-top: 20px;
  list-style-type: none;
  position: relative;
}

.team-element {
  color: #333;
  padding: 5px;
  margin:5px;
}

#add-game {

}

#teams-row {
	margin-top: 10px;
	border: 4px #87C7E6 solid;
	padding-bottom: 10px;
}

.not-played {
	font-size: 12px;
}

