#teams-list {
  margin-top: 20px;
  list-style-type: none;
  position: relative;
}

.team-element {
  color: #333;
  padding: 5px;
  margin:5px;
}

#add-game {

}

.acheivements {
  cursor: hand; 
  cursor: pointer;
  list-style-type: decimal;
  list-style-type: none;
}

.acheivements a {
  color: black;
  padding: 5px;
  color: #D4A017;
  font-size: 12px;
  text-decoration: none;
}
.acheivement {
  background:url("../images/achivement.png") no-repeat;
  border-style: none;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

.acheivement-highscore {
  background:url("../images/achivement-highscore.png") no-repeat;
  border-style: none;
  width: 25px;
  height: 30px;
  background-size: 25px 30px;
}
.acheivements-movement {
  background:url("../images/achivement-movement.png") no-repeat;
  border-style: none;
  width: 25px;
  height: 30px;
  background-size: 25px 30px;
}

#teams-row {
	margin-top: 10px;
	border: 4px #87C7E6 solid;
	padding-bottom: 10px;
}

.not-played {
	font-size: 12px;
}

