<script id="agame" type="text/x-handlebars-template">
<div class="btn-group">
 {{#unless started}}
 <button class="btn btn-small btn-success" id="start-game">Start Game</button>
 {{else}}
 {{#if played}}
 <button class="btn btn-small btn-danger" disabled="true">Stopped</button>
 {{else}}
 <button class="btn btn-small btn-danger" id="stop-game">Stop Game</button>
 {{/if}}
 {{/unless}}
 <button class="btn btn-small btn-inverse" value="{{name}}" id="remove-game">Delete game</button>
 </div>
<h1>{{name}}</h1>
<h3>{{desc}}</h3>
{{#if players}}
<h5>Players:</h5>
	<ul class="games-list">
		{{#each players}}
			<li><a><i class="game-icon icon-user"></i>{{name}}</a></li>
		{{/each}}
	</ul>
{{else}}
<h5>No players joined</h5>
{{/if}}
 </div>
</script>