		<div class="row contact-row">
			<div class="span12 contactpage about">

				<div class="media">
					<div class="media-body">
							<h4 class="media-heading">About</h4>
							MoDo is a digital game for learning crisis management techniques(e.g. making decisions under stress, communication and teambuilding.
							<!-- Nested media object -->
					</div>
				</div>
				<div class="media">
					<div class="media-body">
							<h4 class="media-heading">Rules</h4>
							The game is played with smartphones with Android operative system. There must be two or more players to play. The optimal number of players are between three and six.

							<div class="media">
								<div class="media-body">
									<h4 class="media-heading">Find game and joine game</h4>
									To find games, start the application, enter username and select a team.
									<!-- Nested media object -->
								</div>
							</div>

							<div class="media">
								<div class="media-body">
									<h4 class="media-heading">Gameplay</h4>
									MoDo is a turnbased game where each player have a limited numbers of actions. The player have limited time to perform his actions. When the time is up or the player have pressed "done", next player will be notified. The game continues untill there is no more civilians to save or when the panicwave timer reaches zero.
									<!-- Nested media object -->
								</div>
							</div>

							<div class="media">
								<div class="media-body">
									<h4 class="media-heading">Actions</h4>
									There are currently three different actions a player can conduct.
									<li>Move people</li>
									<li>Calm down people</li>
									<li>Heal people</li>
									<!-- Nested media object -->
								</div>
							</div>

							<div class="media">
								<div class="media-body">
									<h4 class="media-heading">Tools</h4>
									Each player starts with some tools depending on their role. Tools are used to fix events that can accur on different locations. If there is a fire a fire extinguisher is needed to enter the room. Tools can be picked up.
									<!-- Nested media object -->
								</div>
							</div>

	
					</div>
				</div>
			</div>
		</div>
