<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans%7COswald:400,300,700"
  media="screen" rel="stylesheet" type="text/css" />
  
  <link href="/stylesheets/libs/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/libs/bootstrap-responsive.css" rel="stylesheet">
  <link href="/stylesheets/libs/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/gamerowstyle.css" rel="stylesheet">
  <link href="/stylesheets/teamsrowstyle.css" rel="stylesheet">
  <link href="/stylesheets/frontpage.css" rel="stylesheet">
  <script data-main="javascripts/main" src="/javascripts/libs/require/require.js"></script>


  <title>MoDo</title>
</head>

<body>
  <div class="container">
    <div class="row header">
     <h1 class="span6 title">
      <a id="logo-text" href="/">MoDo</a>
    </h1>
    <div class="span6 menu">
      <div class="row">
        <a href="/teams" class="span2 icon teams"><span>Teams</span></a>
        <a href="/games" class="span2 icon games"><span>Games</span></a>
        <a href="/about" class="span2 icon contact"><span>About</span></a>
      </div>
    </div>
  </div>

