		   <div class="span2" id="game-info">
		   		
		   </div>
		    <div class="span5" id="game-stats">
		   		<div class="game-stat" id="game-stats">
		   			<div id="game-stat-container" style="height: 300px"></div>
		   		</div>
		   	</div>
		   	<div class="span4">
		   		<div class="game-stat-civilians" id="game-stats-civilians">
		   			<div id="game-stat-civilians-container" style="height: 300px"></div>
		   		</div>
		   </div>

