		   <div class="span4" id="game-info">
		   		
		   </div>
		    <div class="span5" id="game-stats">
		   		<div class="game-stat" id="game-stats">
		   			<div id="game-stat-container" style="height: 300px"></div>
		   		</div>
		   </div>

