	<div class="row teams-row">
		<div class="span4 contactpage info">
			<div class="span2">
				<h2>New Team</h2>
				<form>
					<fieldset>
						<label>Team name</label>
						<input id="name" type="text" class="span2" placeholder="Team name..">
						<label>Description</label>
						<input id="desc" type="text" class="span2" placeholder="Team description..">
							<button type="submit" class="btn btn-success newgame">Publish team</button>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="span8">
				<div class="teams-wrapper">
					<ul id="teams-list"></ul>
				</div>
			</div>
		</div>
		